#/bin/sh
export DATABASE_URL={{getv "/confg_discog/confg_discog/app_url"}}
export DATABASE_USER={{getv "/confg_discog/confg_discog/app_username"}}
export DATABASE_PASSWORD={{getv "/confg_discog/confg_discog/app_password"}}
