#/bin/sh
echo "platform load envs"
%{ for platform_param_name_bash_env_var in platform_param_name_bash_env_vars ~}
%{ for platform_param_name in platform_param_names ~}
export ${platform_param_name_bash_env_var}=$${{getv ${platform_param_name}}}
%{ endfor ~}
%{ endfor ~}
echo "app load envs"
%{ for param_name in param_names ~}
export  ${param_name}
%{ endfor ~}
